langchain
langchain-chroma
langchain-community
langchain-google-vertexai
langchain-groq
langchain-google-genai
langchain-openai
langchain-anthropic
langgraph
langgraph-checkpoint-sqlite
pydantic
dotenv
requests
typing-extensions
pdflatex
tqdm
